#imagenPrincipal,#imagenMiniJuegos{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
}
#imagenMiniJuegos,#minijuegos{
   margin-top: 4vh;
}
#minijuegos{
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 2vh;
}
#minijuegos img{
    height: 6vh;
}

.minijuegoPrincipal{
    cursor: pointer;
    display: flex;
background-image: radial-gradient(circle, #12002e, #09072e, #030c2c, #011029, #021325);
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    height: 13vh;
    transition: transform 0.3s ease;
    width: 40vh;
    font-size: 1vh;
    color: white;
    box-sizing: border-box;
    border: solid #5b5b5b 0.7vh;
}


.minijuegoPrincipal:hover{
    border: solid white 0.7vh;
    
}
#corazones{
  margin-top: 1vh;
}
#corazones img{
    height: 4vh;
}
#contenedorProximamente{
   justify-content: center;
   font-size: 2vh;
   text-shadow: 2px 2px 4px black;
}
#proximamente{
     text-decoration: none;
}
@media (max-width:768px){

  #minijuegos{
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
  }


}