#imagenPrincipal,#imagenMiniJuegos{
  width: 100%;
  display: flex;
  justify-content: center;
}
#imagenMiniJuegos,#minijuegos{
   margin-top: 4vh;
}
#minijuegos{
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 2vh;
}
#minijuegos img{
    height: 6vh;
}

.minijuegoPrincipal{
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 12vh;
    transition: transform 0.3s ease;
    width: 40vh;
    font-size: 1vh;
    color: black;
}


.minijuegoPrincipal:hover{
    transform: scale(1.2);
    border: solid black;
}
#corazones img{
    height: 4vh;
}
#contenedorProximamente{
   justify-content: center;
   font-size: 2vh;
   text-shadow: 2px 2px 4px black;
}

@media (max-width:768px){

  #minijuegos{
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
  }


}