
@font-face {
    font-family: pokemon;
    src: url(PokemonClassic.ttf);
}
body {
  font-family: pokemon,'nyt-franklin';
  height: 100vh;
  margin: 0; 
  background: #00405c;
  background: radial-gradient(circle, rgba(0, 64, 92, 1) 3%, rgba(1, 45, 66, 1) 50%, rgba(4, 2, 46, 1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover; 
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    position: relative;
}
#flecha{
  width: 100%;
  display: flex;
}
.bi-list{
  cursor: pointer;
}
#logo{
  display: flex;
  justify-content: center;
}

#Pokemon1,#Pokemon2,#Pokemon3,#Pokemon4,#Pokemon5{
    display: flex;
    justify-content: center;
}
#principal{
  padding-bottom:  20px;
}

.letra{
  width: 40px;
  height: 40px;
  border: 2px solid #333;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: end;
  font-family: pokemon,'nyt-franklin';
}


.modal-backdrop.show {
  opacity: 0.5;
  background-color: black;
}
#principalPistas{
  display: flex;
  justify-content: center;
  align-items: center;
}
#contenedorPrincipal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 56%;
  border: solid;
  border-radius: 15px;
}
#pistas{
  display: flex;
  justify-content: center;
  align-items: center;
}
#pista1,#pista2,#pista3{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 46px;
  border-radius: 15px;
  margin-bottom: 0;
  font-family: pokemon,'nyt-franklin';
  margin-top: 5%;
  font-size: 65%;
}
h4{
  font-family: pokemon,'nyt-franklin';
  text-align: center;
}
#contenedorPista1,#contenedorPista2,#contenedorPista3{
  background-color: white;
  border: solid;
  margin: 15px;
  border-radius: 10px;
}
#fallo1,#fallo2,#fallo3{
  margin-bottom: 0;
  font-size: 8px;
  font-family: pokemon,'nyt-franklin';
}
h3{
   font-family: pokemon,'nyt-franklin';
}
#tituloFinal{
  font-family: pokemon,'nyt-franklin';
  font-size: 153%;
  text-align: center;
}
#TituloPistas{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: solid;
  background-color: #00405c;
  border-radius: 8px; 
  color: white;
}
#mensajeFinal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#errorModal .btn-close {
  display: none;
}
.bg-azul{
  --bs-bg-opacity: 1;
  background: #00405c;
}
input:disabled{
  color: black;
  font-weight: bold;
}
.modalAlto .modal-content{
  height: 500px;
}
.minijuego{
  padding: 0;
  font-family: pokemon,'nyt-franklin';
  color:black;
  text-decoration: none;
  font-size: 70%;
  font-weight: bold;
}
a{
  text-decoration: none;
}
.menuModal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: flex-end;
  background: rgba(0,0,0,0);
  opacity: 0;
  pointer-events: none;
  transition: opacity .35s ease, background .35s ease;
}


.menuModal.show {
  opacity: 1;
  pointer-events: auto;
  background: rgba(0,0,0,.25);
}


.contenidoModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 100%;
  background: white;
  padding: 20px;
  transform: translateX(100%);  
  transition: transform .35s ease;
}


.menuModal.show .contenidoModal {
  transform: translateX(0);
}

.menuModal.hideRight .contenidoModal {
  transform: translateX(100%);
}
